<footer class="footer text-white pt-5">
    <div class="container text-center py-5">
      <div class="row g-3">
        <div class="col-md-4">
          <h3 class="fw-bold">LOCATION</h3>
          <p>2215 John Daniel Drive<br>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <h3 class="fw-bold text-uppercase">AROUND THE WEB</h3>
          <div class="social-icons d-flex justify-content-center gap-3">
            <a  class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a  class="social-icon"><i class="fab fa-twitter"></i></a>
            <a  class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a  class="social-icon"><i class="fas fa-globe"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="fw-bold">ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-dark text-white text-center py-4">
        <p class="mb-0 py-3">Copyright &copy; Your Website 2021</p>
      </div>
  </footer>
