<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary navbar-dark " [ngClass]="{'scrolled': isScrolled}">
  <div class="container-fluid">
    <a class="navbar-brand text-capitalize fs-1 h1 fw-bold" routerLink="/home"  >start Framework </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarNav">
      <ul class="navbar-nav mx-auto me-5 px-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-capitalize px-4 fs-4" routerLinkActive="activeLink" routerLink="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize px-4 fs-4" routerLinkActive="activeLink" routerLink="/portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize px-4 fs-4" routerLinkActive="activeLink" routerLink="/contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
